
body {
  background-color: #c9ebc9;
  font-family: Arial;

}

* {
  box-sizing: border-box;
}

main{
  margin-left: 9vw;
}

main img{
  width: 20vw;
}

main img:hover{
  opacity: 0.5;
}

h2{
  font-size: 32px;
  font-style: italic;
  color: #7096ff;
  text-decoration: none;
  background-color: #ffffb1;
  margin-top: 0;
} 

h3{
  font-size: 20px;
  color: white;
  font-weight: 400;
  text-decoration: none;
  margin-bottom: 0;
}

h4{
  font-size: 20px;
  color: #3f3f3f;
  font-weight: 400;
  text-decoration: none;
  margin-bottom: 0;

}

p{
  font-size: 2vw;
  font-style: italic;
  color: white;
  text-align: right;
  position: absolute;
  align-self: center;
  padding-left: 4%;
  padding-top: 8%;
} 

#hudson_p{
  visibility: visible;
}

#hudson:hover + #hudson_p{
  visibility: hidden;
}

.dot {
  height: 12px;
  width: 12px;
  background-color: rgb(255, 255, 255);
  border-radius: 50%;
  display: inline-block;
}

.dot-button {
  height: 12px;
  width: 12px;
  border-radius: 50%;
  display: inline-block;
  padding: 0px 0px 0px 0px;
  border: none;
  text-align: center;
  text-decoration: none;
}

.container {
  border: 5px solid #ffc476;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  margin-right: 20px;
  margin-top: 10px;
  margin-bottom: 5px;
  width: fit-content;
  block-size: fit-content;
}

.top {
  padding: 10px;
  background: #ffc476;
  border-top-left-radius: 1px;
  border-top-right-radius: 1px;
}

.content {
  padding: 10px;
  background-color:#ffffb5 ;
}

button:hover {
    border: none;
    background-color: #ac8450;
}

.prev, .next {
  cursor: pointer;
  width: auto;
  color: #ffc476;
  font-weight: bold;
  font-size: 25px;
  transition: 0.6s ease;
  user-select: none;
  border-radius: 0 3px 3px 0;
}

.column_1{
  width: 25vw;
  object-fit: contain;
  
}

.column_2{
  width: 22.5vw;
}

.column_3{
  width: 25vw;
}

.column_a{
  width: 27vw;
}

.column_b{
  width: 27vw;
}

.column_c{
  width: 18.5vw;
}


.mySlides1 img{
  width: 25vw; 
}

.column {
  float: left;
}
/* Clear floats after image containers */
.row::after {
  content: "";
  clear: both;
  display: table;
}

.w-100 {
  width: 60vw;
}

.pink{
background-color: #fdbecd;
border-color:#fdbecd;
}

.light-pink{
background-color: #ffe2e9;
border-color:#ffe2e9;
}

.purple{
background-color: #b47cb8;
border-color:#b47cb8;
}

.light-purple{
background-color: #d6bdd8;
border-color: #d6bdd8;
}

.orange{
background-color: #ffbf8a;
border-color: #ffbf8a;
}

.light-orange{
background-color: #ffd59b;
border-color: #ffd59b;
}

.green{
background-color: #c9ebc9;
border-color: #c9ebc9;
}

.dark-green{
background-color: #89b868;
border-color: #89b868;
}

.red{
background-color: #F3A0A6;
border-color: #F3A0A6;

}

.dark-red{
background-color: #ff7096;
border-color: #ff7096;
}

.yellow{
background-color: #ffffb1;
border-color: #ffffb1;
}

.dark-yellow{
background-color: #ffd970;
border-color: #ffd970;
}

.dark-blue{
background-color: #7096ff;
border-color: #7096ff;
}


.blue{
background-color: #b0c4f1;
border-color: #b0c4f1;
}

#home{
  color:#ffffb1;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  position: fixed;
  bottom: 0vh;
  left: 2vw;
}

#about{
  color: #ffffb1;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  position: fixed;
  bottom: 0vh;
  right: 1vw;
}

#middle{
  color: #ffffb1;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  position: fixed;
  bottom: 0vh;
  right: 47vw;
}

.butt_1 {
  background-color: #7096ff ;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  border-radius: 10px;
}

.butt_2{
  background-color: #ff7096 ;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  border-radius: 10px; 
}

.butt_1:hover{
  background-color: #ff7096;
}

.butt_2:hover{
  background-color:#7096ff;
}

.left{
  width: 50%;
  float: left;
  min-width: 400px;
  margin-top: 5%;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  [class*="column"] {
    width: 75vw;
  }
  [class*="hide"] {
    display: none;
  }
  
}

/* yellow: #e7dc9c ; black #232323 blue:#9ba7e7