body{
    background-color: #9ba7e7;
    margin: 0;
    font-family: 'Lato', sans-serif; 
    font-size: 20px;
    line-height: 30px;                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                   

}

header{
    background-color: #9ba7e7;
    padding-top: 10px;
    padding-bottom: 20px;
    width: 100%;
    text-align: center;

    
}

h2{
  color:#feeba6;
  font-size: 30px;
  margin-bottom: 0px;
}

h3{
  color: white;
  font-size: 20px;
}


header img{
  max-width: 15%;
  margin-top: 10px;
  text-align: center;
  
}

a{
    color:#feeba6;
    margin-right: 20px;
}

p{
    color: white;
    padding-bottom: 20px;
}

.left{
    float: left;
}

.right{
    float: right;
}


main{
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 20px;
    text-align: center; 
}

main img{
    max-width: 75%;
    margin-bottom: 0px;
}

.digital{
  float: left;
}

.digital img{
  max-width: 30%;
  
}

.vector img{
  max-width: 50%;
  margin-top: 50px;
}

.break {
  flex-basis: 100%;
  height: 0;
}

.container {
  display: flex;
  flex-wrap: wrap;
}

iframe {
  border: none;
  width: 50vw;
  height: 30vw;
  margin-bottom: 35px;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}

/* css for sliders */
* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}





/* yellow: #e7dc9c ; black #232323 blue:#9ba7e7