body{
    background-color:  #feeba6;
    margin: 0;
    font-family: 'Lato', sans-serif; 
    font-size: 20px;
    line-height: 30px;                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                   

}

header{
    background-color: #feeba6;
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
    
}
a{
    color:#9ba7e7;
    margin-right: 20px;
}

.left{
    float: left;
}

.right{
    float: right;
}
header img{
    width: 245px;
}

main{
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 20px;
    text-align: center; 
}

main img{
    max-width: 30%;
    margin-bottom: 0px;
}


/* yellow: #e7dc9c ; black #232323 blue:#9ba7e7