/* You're welcome to change any of this! */
* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: 'Ubuntu Mono', monospace;
    background-color: #c9ebc9;
    color: white;
}
h1{
    font-size: 1.5em;
}
h2{
    font-size: 1.5em;
}
h3{
    font-size: 1.2em;
}
h4{
    margin-top: 0.3em;
}
p{
    color: rgb(53, 51, 59);
    margin-top: 0;
}
a{
    color: white;
}
.container {
    margin-top: 10vh;
    margin-right: 10vw;
    margin-left: 10vw;
    border-radius: 5px;
    display: grid;
    grid-template-columns: 20vw 60vw;
    grid-template-rows: 0.5fr 0.5fr 60vh;
    grid-template-areas: 
       "a a"
       "b d"
       "c e"; 
    overflow: hidden;
    opacity: 1;
    position: absolute;
}

#header{
    grid-area: a;
    background-color: #ff7096;
    padding-left: 1em;
}
p, li {
    line-height: 1.5em;
}
#side{
    grid-area: b;
    background-color: #8280e9 ;
    padding-left: 1em;
}
#explorer{
    grid-area: c;
    background-color: #b0c0e4;
    padding-top: 1em;
    padding-left: 1em;
    padding-right: 1em;
}
#title{
    grid-area: d;
    background-color: #ffd970;
    padding-left: 1em;
}
#window{
    grid-area: e;
    background-color: #ffffb1;
    padding-left: 1em;
    overflow-y: scroll;
}

.hidden{
    display: none;
}

button{
    border: white solid 2px;
    background-color: transparent;
    color: white;
    border-radius: 12px;
    margin-bottom: 1em;
}

button:hover{
    opacity: 0.5;
}
/* cards */
.dot-button {
    height: 12px;
    width: 12px;
    border-radius: 50%;
    display: inline-block;
    padding: 0px 0px 0px 0px;
    border: none;
    text-align: center;
    text-decoration: none;
  }


#cards {
    padding-top: 10px;
    display: flex;
    flex-wrap: wrap;
}
.card{
    width: 45%;
    padding: 10px;
    border: 5px solid #ffd970;
    border-radius: 6px;
    margin-right: 20px;
    margin-top: 10px;
    margin-bottom: 5px;
    width: fit-content;
    block-size: fit-content;
}
.card:hover .img-div {
    opacity: 0.6;
}
.card > div {
    padding: 0;
    margin:0;
}
.img-div{
    height: 12.5vw;
    border: 0;
}
.interactives{
    width: 14.5vw;
    height: auto;
}

iframe{
    overflow: hidden;
}

@media screen and (max-width: 1200px) {
    /* tablets */
    .container{
        grid-template-columns: 25vw 55vw;
    }
    .img-div{
        width: 45vw;
        height: auto;
    }
    .interactives{
        width: 18vw;
        height: auto;
    }
    .featured{
        width: 15vw;
        height: auto;
    }
}
@media screen and (max-width: 650px) {
    /* smartphones */
    .img-div{
        width: 80vw;
        height: auto;
    }
    .container{
        margin-top: 0vh;
        margin-right: 0vw;
        margin-left: 0vw;
        border-radius: 0;
        grid-template-columns: 50vw 50vw;
        grid-template-rows: 0.5fr 0.5fr 80vh;
        grid-template-areas: 
        "a b"
        "d d"
        "e e";
    }
    #explorer{
        position: fixed;
        bottom: 0;
        width: 100vw;
        text-align: center;
    }
    h3{
        font-size: 0.9em;
    }
    .card:hover .img-div {
        opacity: 1;
    }
    #window{
        padding-bottom: 10vh;
    }
}
/* colors */
.red{
background-color: #F3A0A6;
border-color: #ff7096;
}
.yellow{
background-color: #ffffb1;
border-color: #ffd970;
}
.blue{
background-color: #b0c4f1;
border-color: #7096ff;
}