/* You're welcome to change any of this! */
* {
    box-sizing: border-box;
}

body {
    margin: 0 15vw;
    padding-bottom: 40px;
    background-color: #BD4D34;
    color: rgb(255, 255, 255);
    /* transform: translate(-50%, 0); */
    
}
h1{
    font-size: 22px;
    display: inline-block;
    padding:3px 10px;
    border-radius: 33px;
    font-family: "Ubuntu";
    font-weight: 600;
    
}
h2{
    font-family: 'Josefin Sans', 'sans-serif';
}
h3{
    font-size: 25px;
    background-color: #8AA944;
    display: inline-block;
    padding:10px 15px;
    border-radius: 33px;
    font-family: 'Ubuntu';
    font-weight: 600;
}
h4{
    /* margin-top: 0.3em; */
    font-size: 24px;
    display: inline-block;
    background-color: #443B65;
    padding:10px 15px;
    border-radius: 33px;
    font-family: "Ubuntu";
    margin: 5px 2px;
}
h5{
    font-size: 1.7rem;
    font-family: 'Ubuntu';
}
p{
    color: rgb(255, 255, 255);
    margin-top: 0;
    font-size: 18px;
    font-family: 'Inter';

}
a{
    color: white;
    text-decoration: none;
}
a:hover{
    opacity:0.5;
}
li{
    font-family: 'Inter';
    font-size: 18px;
    
}
.cv-button{
    font-family: 'Ubuntu';
    font-weight: 600;
    font-size: 18px;
    color: white;
    background-color: #d4822a;
    border-radius: 20px;
    padding: 2.5px 10px;
}

.container {
    padding-top: 15px;
    display: grid;
    column-gap: 30px;
    row-gap: 20px;
    grid-template-columns: 0.85fr 1fr 0.85fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: 
       "a d e"
       "a d f"
       "a d f"
       "b d f"
       "c d g"; 
    width: 100%;
    height: 100%;
   
}
.a{grid-area: a;}
.b{grid-area: b; background-color: #90ab50;}
.c{grid-area: c; background-color: #d4822a;}
.d{grid-area: d;}
.e{grid-area: e; background-color: #d4822a;}
.f{grid-area: f;}
.g{grid-area: g; background-color: #443B65;}

.grid-item>img, .grid-item{
    object-fit: cover;
    height: 100%;
    width: 100%;
    display: inline-block;
    margin:0;
    border-radius: 33px;

}
.grid-item>h5{
    margin: 10% 0;
    padding: 0;
}

.featured-grid {
    padding-top: 7vh;
    display: grid;
    column-gap: 30px;
    row-gap: 20px;
    grid-template-columns: 0.85fr 1fr 0.85fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: 
       "a b c"
       "d e f"
       "g h"
       "i j k ";
    width: 100%;
    height: 100%;
   
}
#intro{
    background-color: #443B65;
    margin-top: 30px;
    padding: 10px;
    border-radius: 30px;
}
#intro > p{
    margin: auto;
    font-size: 25px;
    text-align: center;
    font-family: 'Ubuntu';
}
.half-image{
    /* height: 100% */
    /* width: fit-content; */
    /* block-size: fit-content; */
    width: 38vw;
    height: 100%;;

}
.half-text{
    flex-basis: 40%;
    text-align: left;
    padding-left: 20px;
}

#content{
    margin: auto;
    margin-top: 9vh ;
    /* margin-left: 10vw;
    margin-right: 10vw; */
    text-align: center;
}

#name{
    background-color: #d4822a;
    ;
    display: inline-block;
    border-radius: 12px;
    padding: 1rem 1.5rem;
    font-size: 2.5rem;
    font-style: italic;
    margin-bottom: 3vh;  
}
#header{
    background-color: #8AA944;
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    height: 9vh;
    width: 100vw;
    z-index: 1;
}
#estrellas{
    width: 5vw;
    position: absolute;
    top: 20vh;
    left: 20vw;
}
p, li {
    line-height: 1.5em;
}
#side{
    background-color: #8280e9 ;
    padding-left: 1em;
}
#explorer{
    background-color: #b0c0e4 ;
    padding-top: 1em;
    padding-left: 1em;
    padding-right: 1em;
    overflow-y: scroll;
}
#title{
    background-color: #ffd970;
    padding-left: 1em;
}


.hidden{
    display: none;
}

button{
    border: none;
    background-color: transparent;
    /* color: white; */
    /* border-radius: 12px; */
    /* margin-bottom: 1em; */
    display: inline-block;
    /* width: 100%; */
}

button:hover{
    opacity: 0.5;
}

#intro-buttons > a{
    background-color:#1FB490 ;
    border-radius: 12px;
    padding: 0 2em;
}
#intro-buttons > a > h1{
    display: inline-block;}


#intro-buttons {
    height: 50vh;
    display: flex;
    align-items: center;
    gap: 1rem;

}
.sub-header {
    background-color: #8AA944;
    display: inline-block;
    height: fit-content;
    color: white;
    font-family: "Ubuntu";
    font-weight: 500;
    font-size: 24px;
    padding: 12px 20px;
    border-radius: 33px;
    margin: 15px 0;

}
.selected {
    background-color:#443B65;
}

#back{
    background-color: #d4822a;
    color: white;
    padding: 0px 17px;
    border-radius: 12px;
    margin: 0;
    position: fixed;
    top: 85vh;
    left: 3vw;
    display: none;
}

/* cards */
.dot-button {
    height: 12px;
    width: 12px;
    border-radius: 50%;
    display: inline-block;
    padding: 0px 0px 0px 0px;
    border: none;
    text-align: center;
    text-decoration: none;
  }


#cards {
    padding-top: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center ;
    gap: 10px;
    align-content: space-between;
   
}

.card{
    flex: 1;
    padding: 10px;
    border-radius: 6px;
    flex-grow: 1;
    flex-basis: 30.333%;
    /* height: 100%; */
}

a:hover .img-div {
    opacity: 0.6;
}
.card > div {
    padding: 0;
    margin:0;
}
.img-div{
    width: 100%;
    object-fit: cover;
    border: 0; 
    border-radius: 20px;

}
.single-page{
    width: 35vw;
}
.full-page{
    width: 50vw;
}
.dios{
    width: 35vw;
    height: 100%;
    /* height: 50vh; */
    /* max-width: 60vw;
    max-height: 50vh; */
}

#pc-window{
    /* width: 100%; */
    /* height: 10vh; */
    /* background-color: #1FB490; */
    border-radius: 12px;
    text-align: right;
    padding: 10px;
    /* margin: 10px auto; */


}
#pc-window > span{
    height: 1em;
    width: 1em;
    background-color: #FFEAB2;
    border-radius: 50%;
    display: inline-block;
    margin: 0.75em 0.5em;
}
#pc-img{
    flex-basis: 20%;
}

span:hover{
    opacity: 0.5;
}

iframe{
    overflow: hidden;
}
.housing{
    padding: 20px 10%;
}
.pupusa{
    padding: 20px 20%;
}   
.cv{
    margin-left: 10vw;
    margin-top: 9vh ;

}


@media screen and (max-width: 1000px) {
    /* smartphones */
    body{
        margin: auto 10vw;
    }
    
    .card{
        flex-basis: 49%;
    }
    .single-page{
        width: 60vw;
    }
    .container{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 0.5fr 0.5fr 0.5fr;
        grid-template-areas:
        "a d"
        "a d"
        "b d"
        "c d"
        "g e"
        ;
    }
    /* .g{display: none;}
    .e{display: none;} */

    .f{display: none;}
    .intro{display:none;}
    .cv{
        margin-left: 5vw;
        margin-top: 9vh ;

    }
    
}

@media screen and (max-width: 650px) {
    /* smartphones */
    body{
        margin: auto 10vw;
    }
    .img-div{
        width: 100%;
        /* height: auto; */
    }
    .featured{
        width: 80vw;
        /* height: 37vw; */
    }
    .half-image{
        width: 80vw;
    
    }
    .half-text{
        flex-basis: 100%;
    }
    #back{
        left: 50%;
        transform: translate(-50%, 0);
    }
    .container{
        grid-template-columns: 1.5fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        grid-template-areas: 
        "d b"
        "d g"
        "d e"
        "d c";
        height: 50vh;
    }
    .a{display: none;}
    .f{display: none;}
    .intro{display:none;}
    .housing{
        padding: 0 0%;
    }    
    .pupusa{
        padding: 0 0%;
    }   
    .cv{
        margin-left: 0;
        margin-top: 9vh ;
    }
}

/* colors */
.red{
background-color: #ff7096;
border-color: #ff7096;
}
.yellow{
background-color: #ffd970;
border-color: #ffd970;
}
.blue{
background-color: #8280e9;
border-color: #8280e9;
}